/* Customize your main colors in :root variables */
:root {
  --main-background-color: #000;
  --card-background-color: #804980;
  --countdown-background-color: #433765;
  --main-text-color: #f7f6f4;
  --title-text-color: #d8b08c;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./fonts/PlusJakartaText-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./fonts/PlusJakartaText-Bold.ttf") format("truetype");
  font-style: normal;
}

body {
  /* background-color: var(--main-background-color); */
  background-color: #000;
  background-size: cover;
  font-family: "Patrick Hand", cursive;
  font-size: 1.1em;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}
